.popup-box{
    visibility: hidden;
    position: absolute;
    width: 20vw;
    background-color: var(--white-0);
    margin-left: 2vw;
    margin-top: 6vh; 
  }
  
  .box-tittle{
    background-color: var(--back);
    color: var(--white-0);
    font-family: "Outfit", sans-serif;
    display: inline-flex;
    width: 20vw;
    height: 8vh;   
  }
  
  .box-tittle p{
    font-size: 20px;
    justify-content: flex-start;
    padding-top: 2px;
    margin-left: 1vw;
    margin-top: 1vh;
  }
  .rest-1{
    justify-content: center;
    margin-left: 9vw;
    margin-top: 1.5vh;
    color: var(--white-0);
    font-size: 16px;
    padding-top: 2px;
    position: absolute;
    font-weight: 300;
  }
  .box-tittle i{
    font-size: 34px;
    margin-left: 16vw;
    margin-top: -0.5vh;
    position: absolute;
  
  }
  
  .long-sleeve{
    height: 18vh;
    background-color: var(--white-0);
  }
  
  .long-sleeve img{
    position: absolute;
    padding: 10px;
  }
  
  .long-sleeve p{
    position: absolute;
    margin-top: 6vh;
    margin-left: 9vw;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  
  .img-2{
    width: 44%;
  }


  @media screen and (max-width: 1200px){
    .rest-1{
      margin-left: 8vw;
      margin-top: 1.5vh;
    }

    .box-tittle i{
      margin-left: 16vw;
      margin-top: 0vh;
    }

    .box-tittle{
      width: 20vw;
      height: 6vh;   
    }

    .long-sleeve{
      height: 15vh;
    }

    .img-2{
      width: 48%;
    }

  }