.popup-box{
    visibility: hidden;
    position: absolute;
    width: 20vw;
    /* height: 46vh; */
    background-color: var(--white-0);
    margin-left: 2vw;
    margin-top: 6vh;
    
  }
  
  .box-tittle{
    background-color: var(--back);
    color: var(--white-0);
    font-family: "Outfit", sans-serif;
    display: inline-flex;
    /* position: absolute; */
    width: 20vw;
    height: 8vh;
     
  }
  
  .box-tittle p{
    font-size: 20px;
    justify-content: flex-start;
    /* padding-bottom: -20px; */
    padding-top: 2px;
    margin-left: 1vw;
    margin-top: 1vh;
    /* position: absolute; */
    
  
  }
  .rest-1{
    justify-content: center;
    margin-left: 9vw;
    margin-top: 1.5vh;
    color: var(--white-0);
    font-size: 16px;
    padding-top: 2px;
    position: absolute;
    font-weight: 300;
  
  }
  .box-tittle i{
    /* justify-content: flex-end; */
    font-size: 34px;
    margin-left: 16vw;
    margin-top: -0.5vh;
    position: absolute;
  
  }
  
  .long-sleeve{
    height: 18vh;
    /* position: absolute; */
    /* margin-top: 8vh; */
    background-color: var(--white-0);
  }
  
  .long-sleeve img{
    position: absolute;
    padding: 10px;
  }
  
  .long-sleeve p{
    position: absolute;
    /* display: flex; */
    margin-top: 6vh;
    margin-left: 9vw;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  
  .img-2{
    width: 43%;
    /* margin-left:0px; */
  }