.App{
  height: 100vh;
  background-color: var(--white-1);
}

.body{
  width: 88vw;
  height: 100vh;
  position: absolute;
  margin-left: 12vw;
}

.logo{
  position: absolute;
  width: 12%;
  margin-top: 6vh;
  margin-left: 2vw;
}

.main-img-1{
  width: 400px;
  position: absolute;
  margin-left: 30vw;
    
}

.effect-img-1{
  position: absolute;
  width: 30vw;
  height: 50vh;
  left: 30vw;
  top: 20vh;
  border-radius: 60%;
  background: #ffffff;
  box-shadow: '500px 500px 500px';
  filter: blur(90px);
}



@media screen and (max-width: 1200px){



}




